html, body {
  height: 100vh;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  background-image: url("images/98850d93-0ca8-4fbb-861c-3a9e24332e6d.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.middenstuk {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  padding-top: 40px;
}

img {
  max-width: 100%;
  display: block;
}

h2 {
  text-align: center;
}

.wrapper {
  border: solid 4px #fec700;
  background-color: white;
  width: 700px;
  height: 80vh;
  margin:  0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 500px;
  overflow: auto;
}

.tekst {
  max-height: 500px;
  margin: 0 20px;
  text-align: justify;
}

.plaatjes {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #fec700;
}

header {
  height: 40px;
  line-height: 40px;
  flex-shrink: 0;
  background-color: #fec700;
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
}

header a {
  display: inline-block;
  padding: 0 20px;
  font-size: larger;
}

header a:hover {
  background-color: #1a0a53;
  color: white;
}

footer {
  margin: 0;
  flex-shrink: 0;
  background-color: #fec700;
  text-align: center;
}

.about_welkom {
  margin: 100px auto 0 auto;
}

.about_welkom a {
  color: #fec700;
  padding: 10px;
}

.about_welkom a:hover {
  border: dotted 1px #fec700;
  border-radius: 8px;
}

@media (max-width: 450px) {
  .container {
    flex-direction: column;
  }
  .plaatjes {
    flex-direction: row;
    height: 100px;
  }

  #plaatje3, #plaatje4 {
    /*display: none;*/
  }
}